@import "~styles/variables.scss";

.section {
  align-items: stretch;
  flex-direction: column;

  .title {
    font-weight: 500;
    text-align: center;

    span {
      color: $blue;
      margin: 0 0.625rem;
    }
  }

  .listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;

    .listElement {
      margin: 0 0.625rem;
      width: 10rem;

      img {
        height: 5.625rem;
        width: 5.625rem;
      }

      h3 {
        font-weight: 500;
        margin: 1.25rem 0;
      }
    }
  }

  &:after {
    background-color: $lightBlue;
    bottom: 0;
    box-shadow: $boxShadow;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 3.75rem;
    position: absolute;
    right: 0;
  }
}
