.titleContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0 3rem;
  width: 100%;

  .title {
    font-weight: 900;
  }

  .logoutButton {
    margin: 0 0.3rem;
    padding: 0.9rem 2rem;
  }
}
