.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  padding: 6.25rem 3.75rem;
  position: relative;

  &.fullHeight {
    height: 100vh;
  }
}
