@import "~styles/variables.scss";

footer {
  text-align: center;

  .footerSection {
    align-items: center;
    background-image: url("~assets/Backgrounds/Bg_Footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3.75rem 6.25rem 1.5rem;

    .thanksText {
      span {
        color: $blue;
      }
    }

    .inviteText {
      font-weight: 500;
      margin: 1.25rem 0;
    }

    .button {
      margin: 1.25rem 0 3.75rem;
    }

    .logo {
      height: 2.2rem;
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url("~assets/Backgrounds/Bg_Footer@2x.png");
    }

    @media (-webkit-min-device-pixel-ratio: 3) {
      background-image: url("~assets/Backgrounds/Bg_Footer@3x.png");
    }

    @media (max-width: $breakpointTablet) {
      padding: 1.8rem;
    }
  }
}
