@import "~styles/variables.scss";

.header {
  align-items: center;
  background-color: $transparent;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  padding: 3.75rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .logo {
    flex: 1;
    margin-right: 2.5rem;

    img {
      height: 1.875rem;
    }
  }

  .menuIcon {
    cursor: pointer;
    display: none;
    font-size: 2rem;
  }

  .menuList {
    align-items: center;
    display: flex;
    flex: 3;
    justify-content: flex-end;

    a {
      margin: 0 0.5rem;

      &:hover {
        opacity: 0.6;
      }

      &.active {
        color: $blue;
      }
    }

    .loginButton {
      background-color: $transparent;
      color: $blue;
      margin: 0 0.3rem;
      padding: 0.9rem 2rem;
    }
  }

  &.fixedHeader {
    background-color: $white;
    box-shadow: $boxShadow;
    padding: 0.625rem 2.5rem;
    position: fixed;

    .logo {
      img {
        height: 1.25rem;
      }
    }

    .menuIcon {
      font-size: 1.5rem;
    }

    .menuList {
      h3,
      button {
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    padding: 1rem 2rem;

    .logo {
      z-index: 2;
    }

    .menuIcon {
      display: inherit;
      z-index: 2;
    }

    .menuList {
      background-color: $white;
      box-shadow: $boxShadow;
      box-sizing: border-box;
      flex: 0 1 100%;
      flex-direction: column;
      left: 0;
      opacity: 0;
      overflow: hidden;
      padding: 1rem;
      position: absolute;
      transform: translateY(-200%);
      transition: transform 0.3s, opacity 0.2s;
      width: 100%;

      a {
        margin: 1rem;
      }

      &.isOpen {
        display: flex;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.fixedHeader {
      .menuList {
        h3,
        button {
          font-size: 1.2rem;
        }
      }
    }
  }
}
