@import "~styles/colors.scss";

.selectContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0.5rem;
  width: 100%;

  .label {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .select {
    border: 1px solid $blue;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin: 0.2rem 0;
    padding: 0.5rem;
  }
}
