@import "~styles/variables.scss";

.section {
  .text {
    flex: 1;
    font-weight: 500;
    margin: 0 2.5rem;
  }

  .imageContainer {
    flex: 1;
    margin: 2.5rem;
    text-align: right;
  }
}

.banner {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .twitterContainer {
    align-items: center;
    background-image: url("~assets/img_woloxer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    padding: 3.75rem;

    .twitterTitle {
      color: $green;
      font-size: 3.2rem;
      font-weight: 900;
      margin: 2.5rem 0.625rem;
      text-align: center;

      span {
        color: $blue;
      }
    }

    .iconContainer {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0.625rem;

      svg {
        font-size: 2.8rem;
        margin: 0 0.625rem;
      }
    }

    .button {
      background-color: $transparent;
      margin: 0.625rem 0;
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url("~assets/img_woloxer@2x.png");
    }

    @media (-webkit-min-device-pixel-ratio: 3) {
      background-image: url("~assets/img_woloxer@3x.png");
    }

    @media (max-width: $breakpointTablet) {
      padding: 2rem;
    }
  }

  .textContainer {
    align-items: center;
    background-color: $lightBlue;
    color: $black;
    display: flex;
    flex: 2;
    padding: 3.75rem;
    text-align: center;

    h1 {
      font-weight: 500;

      b {
        color: $blue;
        font-weight: 900;

        span {
          color: $green;
        }
      }
    }
  }
}
