@import "~styles/variables.scss";

.section {
  flex-wrap: nowrap;
  min-height: 100vh;
  padding-bottom: 1rem;

  .title {
    flex: 1;
    font-weight: 900;
    margin: 2rem 0;
    text-align: center;
  }

  .formContainer {
    box-sizing: border-box;
    flex: 1;
    padding: 5rem 2rem;
    width: 100%;

    .buttonContainer {
      align-items: center;
      display: flex;
      flex-direction: column;

      .submitButton {
        margin: 2rem 0;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    justify-content: center;

    .title,
    .formContainer {
      flex: none;
    }
  }
}
