@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/Fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../assets/Fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../assets/Fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("../assets/Fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/Fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  src: url("../assets/Fonts/Fira_Sans/FiraSans-SemiBold.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  src: url("../assets/Fonts/Fira_Sans/FiraSans-Medium.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 900;
  src: url("../assets/Fonts/Fira_Sans/FiraSans-Bold.ttf");
}
