@import "./fonts.scss";
@import "./variables.scss";

* {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  @media (max-width: $breakpointTablet) {
    font-size: 12px;
  }
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  opacity: 0;
  padding: 6.25rem 3.75rem;
  position: relative;
  transform: translateY(100%);
  transition: transform 1s ease-out, opacity 1s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: $breakpointTablet) {
    flex-direction: column;
    padding: 5rem 1.8rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

small {
  font-size: 0.8rem;
}

.error {
  color: $red;
  font-size: 0.7rem;
  font-weight: normal;
  margin: 0.2rem;
}
