@import "~styles/variables.scss";

.listContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;

  .listElement {
    align-items: center;
    //border: 2px solid $blue;
    border-radius: 5px;
    box-shadow: $boxShadow;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(1rem, auto));
    padding: 0.9rem;

    .tech {
      grid-column: 1 / 4;
    }

    .logo {
      height: 2rem;
      justify-self: right;
      object-fit: contain;
      object-position: right;
      width: 100%;
    }

    .author {
      font-size: 1rem;
      font-weight: 500;
      grid-column: 1 / 4;
    }

    .type {
      border-radius: 5px;
      color: $blue;
      font-size: 0.8rem;
      font-weight: 900;
      grid-column: 1 / 3;
      padding: 0.5rem;
      place-self: center left;
    }

    .language {
      color: $green;
      font-size: 0.8rem;
      font-weight: 900;
      grid-column: 3 / 5;
      text-align: right;
    }

    .year {
      text-align: right;
    }
  }
}

.error {
  font-size: 1.2rem;
}

.counter {
  margin-top: 2rem;
}
