@import "~styles/variables.scss";

.button {
  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 50px;
  box-shadow: $boxShadow;
  color: $white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.9rem 5rem;
  transition: transform 300ms ease;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(.disabled):hover {
    transform: scale(1.05);
  }
}
