@import "~styles/colors.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 1rem 0;

  input {
    border: 1px solid $blue;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin: 0.2rem 0;
    padding: 0.5rem;

    &.error {
      border-color: $red;
    }
  }

  &.checkbox {
    align-items: center;
    cursor: pointer;
    display: inline-block;
    flex-direction: row-reverse;
    justify-content: flex-end;
    line-height: 1rem;
    padding-left: 1.5rem;
    position: relative;
    user-select: none;

    input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;
    }

    .checkmark {
      border: 2px solid $blue;
      border-radius: 5px;
      height: 0.8rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.8rem;

      &.checked {
        background-color: $blue;

        &:after {
          border: solid $white;
          border-radius: 5px;
          border-width: 0 0.1875rem 0.1875rem 0;
          content: "";
          height: 0.5rem;
          left: 0.1875rem;
          position: absolute;
          top: 0;
          transform: rotate(45deg);
          width: 0.1875rem;
        }
      }
    }
  }
}
