@import "~styles/variables.scss";

.section {
  flex-direction: column;

  .optionsContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 100%;
  }
}
