@import "~styles/colors.scss";

.filterContainer {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 0.5rem;
  position: relative;
  width: 100%;

  .input {
    flex: 1;

    input {
      padding-right: 2rem;
    }
  }

  .clearButton {
    color: $green;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 42%;
  }
}
