@import "~styles/variables.scss";

.section {
  .title {
    flex: 1;
    font-weight: 900;
    text-align: center;
  }

  .listContainer {
    flex: 1;
    margin: 0 5rem;

    .listElement {
      display: flex;
      margin: 1.25rem 0;

      img {
        margin-right: 1.25rem;
      }

      p {
        font-weight: 500;
      }
    }

    @media (max-width: $breakpointTablet) {
      margin: 0 2rem;
    }
  }
}
