@import "~styles/variables.scss";

.section {
  background-image: url("~assets/Backgrounds/Bg_Header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  min-height: 100vh;

  .text {
    flex: 1;
    font-weight: normal;
    margin: 0 2.5rem;

    b {
      text-transform: capitalize;
    }

    span {
      color: $green;
      font-weight: 900;
    }
  }

  .imageContainer {
    flex: 1;
    margin: 2.5rem;
    text-align: right;
  }

  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("~assets/Backgrounds/Bg_Header@2x.png");
  }

  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url("~assets/Backgrounds/Bg_Header@3x.png");
  }

  @media (max-width: $breakpointTablet) {
    justify-content: center;

    .text,
    .imageContainer {
      flex: none;
    }
  }
}
